/*
    Danielle Smith
    index.css -- Stylesheet for index.html, contains simple animation for introductory splash.
*/



/* Splash box */

#splash{
    height: 100%;
    width: 100%;
    background-color: yellow;
    z-index: 2;
    position: fixed;
    top: 0px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 400px 0;
    background: linear-gradient(45deg, rgba(71, 95, 84, 1), rgba(125, 97, 186, 1), rgba(90, 151, 206, 1), rgba(146, 223, 227, 1));
    animation: gradient 50s ease infinite;
    background-size: 400% 400%;
    margin: auto;
 }



@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



@keyframes gradient{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 



/* Styling for characters on splash screen */

.character{
    font-size: 50px;
}



/* Custom styling for index header */

#header{

}



/* Body elements */

body{
    background: url("../images/night_ocean.jpg") repeat 0 0;
    height: 100vh;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    margin: auto;
}



#explore{
    background: linear-gradient(15deg, rgba(244, 234, 150, .6), rgba(0,0,0,0));
    border-radius: 10px;
    font-size: 50px;
    padding: 10px;
    margin-top: 500px;
    margin-left: 50px;
}



#logo{
    font-size: 30px;
}



.button{
    background-color: rgba(242, 225, 169, .8);

}