*{
    box-sizing: border-box;
}



#header{
    background-color: rgba(151, 152, 107, 1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}



.image{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}


#container{
    margin-top: 80px;
    margin-right: 20px;
}


body{
    background: url("../images/olympics.jpg") repeat 0 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    margin: auto;
}

.repo{
    margin: 30px;
    margin-right: 10px;
} 



.info{
    background-color: rgba(242, 225, 169, .85);
    padding: 35px;
    font-size: 20px;
    border-radius: 10px;
}



.info_text{
    margin: 10px;
   /* margin-left: px; */
}

.repo_name{
    font-weight: bold;
}


.link{
    margin-top: 100px;
}